/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	background-color: #ccc2c0;
}
#container {
	background: url(../images/3scoops.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ccc2c0;
}
h4 {
	margin-top: 0;
	padding-top: 200px;
	font-family: "IBM Plex Sans Condensed", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
    text-align: center;
    text-transform: lowercase;
	font-size: 3em;
	line-height: 1em;
	color: white;
}
#content {
	margin: 800px auto 0 auto;
	max-width: 600px;
}
#content .title {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
	font-size: 1.5em;
	min-width: 400px;
}
#content p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	text-align: justify;
	font-size: 1.2em;
}
#flavors {
	margin: 0 auto 0 auto;
	max-width: 600px;
	text-align: center;
	width: 100%;
}
#flavors td {
	padding-top: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 1.2em;
}
#flavors img {
	width: 200px;
}
#footer {
	margin: 200px 50px 0 0;
}
#footer p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	text-align: right;
	font-size: .7em;
	min-width: 400px;
}
a {
	color: white;
  font-weight: 500;
}

.purchase-button {
   align-items: center;
   background-color: oldlace;
   border: 0;
   border-radius: 100px;
   box-sizing: border-box;
   color: #663c02;
   cursor: pointer;
   display: inline-flex;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 20px;
   max-width: 480px;
   min-height: 40px;
   min-width: 0px;
   overflow: hidden;
   padding: 0px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
   touch-action: manipulation;
   transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
}

.purchase-button:hover,
.purchase-button:focus {
	background-color: snow;
	color: #663c02;
}

.purchase-button:active {
	background: oldlace;
	color: #663c02;
}
